* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial, sans-serif';
}

/* .input-form{
    margin-left: 2%;
} */

.form-container{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}

.list-container{
    width: 95%;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

